<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Story3 Halim</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="story3.css" />
    <link rel="stylesheet" href="{% static 'home/story3.css' %}">
  </head>
  <body>
    {% include "home/navbar.html" %}
    <div id="home" class="basic">
      <!-- <p style="text-align: left;margin-left: 50%;font-size: 40px;">My Name Is <br>Muhammad Halim<br> Susilo</p> -->
      <div class="foto"></div>
      <div class="kalimat">
        <p class="largefont">
          My Name Is <br />Muhammad Halim<br />
          Susilo
        </p>
      </div>
      <div class="logo">
        <a href="https://www.instagram.com/mhalimss/"
          ><div><img class="logoplace" src="{% static 'home/instagram.png' %}" />@mhalimss</div></a
        >
          ><div>
            <img class="logoplace" src="{% static 'home/whatsapp.png' %}" />081805009277
          </div></a
        >
          ><div><img class="logoplace" src="{% static 'home/line.png' %}" />4halim4</div></a
        >
      </div>
    </div>
    <div class="place">
      <div class="topnav" id="myTopnav">
        <a href="#home">Home</a>
        <a href="#aboutme" class="active">About Me</a>
        <a href="#study">Study</a>
        <a href="/quote">Quote</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div id="aboutme" class="basic">
        <div class="page2"></div>
        <div class="kalimat">
          <p class="mediumfont">
            Hello my name is Halim and <br />
            I am from Malang. But since I <br />
            started college I moved to <br />
            Jakarta. A little fact about me is <br />
            I really love sport since I <br />
            was a kid.
          </p>
        </div>
      </div>
    </div>
    <div class="place">
      <div class="topnav" id="myTopnav">
        <a href="#home">Home</a>
        <a href="#aboutme">About Me</a>
        <a href="#study" class="active">Study</a>
        <a href="/quote">Quote</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div id="study" class="basic">
        <!-- <p style="text-align: left;margin-left: 50%;font-size: 40px;">My Name Is <br>Muhammad Halim<br> Susilo</p> -->
        <div class="page3"></div>
        <div class="kalimat">
          <p class="mediumfont">
            SD Al-Irsyad Tegal <br />
            SD Ungaran 3 Jogjakarta <br />
            SD Insan Amanah Malang <br />
            SMPN1 Malang <br />
            SMAN4 Malang <br />
            University of Indonesia
          </p>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>