<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inputan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    ntegrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="story3.css" />
    <link rel="stylesheet" href="{% static 'home/story3.css' %}">
</head>
<body style="background-color:aqua;">
    <div class="topnav" >
        <a href="/" class="active" style="color: black;">Home</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="container">
        <form action='' method="POST">
        {% csrf_token %}
            <div class="form-group">
                <label>Matkul</label>
                {{form.Mata_Kuliah}}
            </div>
            <div class="form-group">
                <label>Dosen</label>
                {{form.Dosen}}
            </div>
            <div class="form-group">
                <label>SKS</label>
                {{form.SKS}}
            </div>
            <div class="form-group">
                <label>Semester</label>
                {{form.Semester}}
            </div>
            <div class="form-group">
                <label>Kelas</label>
                {{form.Kelas}}
            </div>
            <div class="form-group">
                <label>Deskripsi</label>
                {{form.Deskripsi}}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form> 
    </div>

   <table class="table">
       <tbody>
           {% for tabel in inp %}
                <div class="card">
                    <h5 class="card-header">Jadwal</h5>
                    <div class="card-body">
                        <h5 class="card-title">Matkul : {{tabel.Mata_Kuliah}}</h5>
                        <p class="card-text">Dosen: {{tabel.Dosen}}</p>
                        <p class="card-text">SKS : {{tabel.SKS}}</p>
                        <p class="card-text">SEMESTER : {{tabel.Semester}}</p>
                        <p class="card-text">KELAS : {{tabel.Kelas}}</p>
                        <p class="card-text">DESKRIPSI : {{tabel.Deskripsi}}</p>
                        <a href="{{tabel.id}}"><button class="btn btn-icon btn-danger">Delete</button></a>
                    </div>
                </div>
            {% endfor %}
        </tbody>
   </table>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>