<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>story3_2</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="story3.css" />
    <link rel="stylesheet" href="{% static 'home/story3.css' %}">
</head>
  <body>
    <div class="topnav" >
      <a href="/" class="active">Home</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div id="home" class="basic">
      <!-- <p style="text-align: left;margin-left: 50%;font-size: 40px;">My Name Is <br>Muhammad Halim<br> Susilo</p> -->
      <div class="kedua"></div>
      <div class="kalimat">
        <p class="tekskedua">
          Dont ever feel satisfied whenever you finish some task or job! 
        </p>
      </div>
      <div class="logo">
        <a href="https://www.instagram.com/mhalimss/"
          ><div><img class="logoplace" src="{% static 'home/instagram.png' %}" />@mhalimss</div></a
        >
          ><div>
            <img class="logoplace" src="{% static 'home/whatsapp.png' %}" />081805009277
          </div></a
        >
          ><div><img class="logoplace" src="{% static 'home/line.png' %}" />4halim4</div></a
        >
      </div>
    </div>
</html>