<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Pribadi</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body style="background-color: black;">
    <h1 style="text-align: center;"><p style="color: white;">Ini Adalah Data Pribadi Saya</p></h1>
    <center><img src="{% static 'home/mypic.jpg' %}" width="250" height="300"></center>
    <table>
        <tr>
            <td><p class="kata">Nama</p></td>
            <td><p class="kata">:</p></td>
            <td><p class="kata">Muhammad Halim Susilo</p></td>
        </tr>
        <tr>
            <td><p class="kata">NPM</p></td>
            <td><p class="kata">:</p></td>
            <td><p class="kata">1906399796</p></td>
        </tr>
        <tr>
            <td><p class="kata">Angkatan</p></td>
            <td><p class="kata">:</p></td>
            <td><p class="kata">2019</p></td>
        </tr>
        <tr>
            <td><p class="kata">Hobi</p></td>
            <td><p class="kata">:</p></td>
            <td><p class="kata">Olahraga</p></td>
        </tr>
        <tr>
            <td><p class="kata">Deskripsi Tentang Saya</p></td>
            <td><p class="kata">:</p></td>
            <td><p class="kata">Saya orangnya sangat suka berolahraga,kurang bagus di bidang akademik,dan sangat sensitif.</p></td>
        </tr>
        <tr>
            <td><p class="kata">Tempat Kuliah</p></td>
            <td><p class="kata">:</p></td>
            <td><p class="kata">Fasilkom Universitas Indonesia</p></td>
        </tr>
        <tr>
            <td><p class="kata">Pendidikan Terakhir</p></td>
            <td><p class="kata">:</p></td>
            <td><p class="kata">SMAN4 Malang</p></td>
        </tr>
        <tr>
            <td><p class="kata">Instagram</p></td>
            <td><p class="kata">:</p></td>
            <td><a href="https://www.instagram.com/mhalimss/"><p class="kata">mhalimss</p></a></td>
        </tr>
        <tr>
            <td><p class="kata">Line</p></td>
            <td><p class="kata">:</p></td>
            <td><p class="kata">4halim4</p></td>
        </tr>
    </table>
</body>
</html>