<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    ntegrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/story3.css' %}">
</head>
<body style="background-color:aqua;">
    <div class="topnav" >
        <a href="/" class="active" style="color: black;">Home</a>
        <a href="create_activity/" class="active" style="color: black;">add</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>

   <table class="table">
       <tbody>
           {% for i in kegiatan %}
                <div class="card">
                    <h5 class="card-header">Jadwal</h5>
                    <div class="card-body">
                        <h5 class="card-title">Kegiatan : {{i.namaKegiatan}}</h5>
                        {% for j in peserta %}
                            {% if j.boyKegiatan == i %}
                                <p class="card-text">Peserta: {{j.namaPeserta}}</p>
                            {% endif %}
                        {% endfor %}
                        <a href="create_peserta/{{i.id}}"><button style="color: blue;">Tambah Peserta</button></a>
                        <a href="delete/{{i.id}}"><button class="btn btn-icon btn-danger">Delete</button></a>
                    </div>
                </div>
            {% endfor %}
        </tbody>
   </table>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>