
.h1{
    font-size: 24px;
    color: indigo;
  }

.container{
  text-align: center;
}  
.container2{
  background-color: cyan;
}
.display {
  color: navy;
  font-weight: bold;
  text-align: center;
}
div#headingOne,
div#headingTwo,
div#headingThree,
div#headingFour {
    border-radius: 15px;
}
.card {
  border-radius: 15px;
  margin: 2%;
  text-align: center;
}
.accordion .card .card-header {
  background: white;
  border-radius: 15px;
  border: 3px;
  outline: none;
}
.accordion>.card:not(:first-of-type) {
  border-radius: 15px;
}
.card-body {
  border-radius: 15px;
  border-style: none;
}

a.btn.reorder-up,
a.btn.reorder-down {
  margin: 6px;
  background-color: midnightblue;
  color: rgb(175, 236, 9);
}