{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styling.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Jquery-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        charset="utf-8"></script>
    <!--End Jquery-->

    <!--JS Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <!--End of JS Bootstrap-->
    
</head>
<body class="container2">
  <div class="jumbotron jumbotron-fluid" style="background-color: aquamarine;">
    <div class="container">
      <h1 class="display">MY INFORMATION</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="accordion" id="accordionExample">
      <div class="card" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
      aria-controls="collapseOne" style="cursor: pointer;">
        <div class="card-header">
          <h1>
            <a href="" class="btn reorder-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
              Masa Perkuliahan
            <a href="" class="btn reorder-down"><i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
          </h1>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
        data-parent="#accordionExample">
        <div class="card-body" >
          Perkenalkan nama saya <b>Halim</b>,saya sedang berkuliah di FAsilkom Universitas Indonesia dan mengambil jurusan Sistem Informasi angkatan 2019. Aktivitas saya selama perkuliahan tidak mengikuti organisasi,olahraga,memperbanyak teman,mengerjakan tugas,dan belajar. 
          Saat semester 1,saya masih beradaptasi di lingkungan yang baru,dari segi pendidikan,daerah,dan lingkungan pertemanan. Karena saya dari Malang,saya harus bisa beradaptasi dengan cepat di lingkungan yang baru dan memulai aktivitas seperti mahasiswa lainnya. Saat semester 2,
          saya mulai mendapatkan lingkup pertemanan yang sangat supportif dan membantu saya dalam pendidikan,seperti membantu saya belajar,mengerjakan tugas,ngajarin saya tentang materi yang masih belum saya fahamin saay perkuliahan. Kemudian di semester 3,saya mengalami stress karena 
          banyak mata kuliah yang sangat susah dan tugasnya sangat banyak sehingga saya sempat berpikiran untuk menyerah.
        </div>
      </div>
    </div>
    <div class="card" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
    aria-controls="collapseTwo" style="cursor: pointer;">
      <div class="card-header" id="headingTwo">
        <h1>
          <a href="" class="btn reorder-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
          Interest
          <a href="" class="btn reorder-down"><i class="fa fa-angle-down" aria-hidden="true"></i>
          </a>
        </h1>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Saya memiliki interest di bidang olahraga. Pada saat awal perkuliahan,saya berminat di bidang IT karena seru. Tetapi setelah menjalani 3 semester ini,saya beralih minat ke bidang bisnis karena saya ingin membuka bisnis sendiri,selain itu karena saya kurang mampu di percodingan.
        </div>
      </div>
    </div>
    <div class="card" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
    aria-controls="collapseThree" style="cursor: pointer;">
      <div class="card-header" id="headingThree">
        <h1>
          <a href="" class="btn reorder-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
          Cita-Cita
          <a href="" class="btn reorder-down"><i class="fa fa-angle-down" aria-hidden="true"></i>
          </a>
        </h1>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Cita-cita saya sejak kecil adalah hidup dan bekerja di luar negeri,seperti tinggal di London dan Australia. Selain itu,saya ingin membuka bisnis sendiri di tempat saya tinggal,bisa saja di Indonesia dan di luar negeri. Tetapi,cita-cita saya sejak kecil adalah mampu membiayai keluarga saya untuk berangkat haji bersama,terutama memberangkatkan orang tua saya haji lagi bersama.
        </div>
      </div>
    </div>
    <div class="card" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
    aria-controls="collapseFour" style="cursor: pointer;">
      <div class="card-header" id="headingFour">
        <h1>
          <a href="" class="btn reorder-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
          What's next?
          <a href="" class="btn reorder-down"><i class="fa fa-angle-down" aria-hidden="true"></i>
          </a>
        </h1>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample"
      style="padding: 3%; ">
        <div class="card-body">
          Untuk kedepannya,saya akan berusaha untuk lebih giat belajar,lebih rajin,dan lebih berusaha untuk menjadikan pribadi yang mampu membanggakan kedua orang tua saya. Kemudian saya akan mengambil kuliah S2 di luar negri untuk menggapai cita-cita saya,yaitu hidup dan bekerja di luar negeri.
        </div>
      </div>
    </div>
  </div>
</body>
<script src="{% static 'myJavaS.js' %}"></script>
</html>