.foto{
    width: 50%;
    height: 100%;
    background-image: url(gambar.jpeg);
    background-size: cover;
    background-position: left;
}
.kalimat{
    margin-left: 17%;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.largefont{
    text-align: left; 
    font-size: 50px; 
    margin-left: 18px;
}
.mediumfont{
    text-align: left; 
    font-size: 30px; 
    margin-left: 18px
}
.basic{
    height: 100vh;
    width: 100vw;
    background-color: #4F5053;
    display: flex;
    flex-direction: row;
    position: relative;
}
.logoplace{
  width: 3vw;
  margin-left: 20px;
  margin-right: 20px;
}
a{
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.logo{
  z-index: 10;
  
  position: fixed; 
  bottom: 0px; 
  right: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
}
.place{
  height: 100vh; 
  width: 100vw;
}
.page2{
  width: 50%;
  height: 100%;
  background-image: url(firebond.jpeg);
  background-position: left;
}
.page3{
  width: 50%;
  height: 100%;
  background-image: url(study.jpeg);
  background-position: left;
}
.kedua{
  width: 50%;
  height: 100%;
  background-image: url(background.jpeg);
  background-size: cover;
  background-position: left;
}
.topnav {
    position: absolute;
    right:0;
    overflow: hidden;
    position: fixed;
    z-index: 10;
  }
  


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}
.tekskedua{
  text-align: left; 
  font-size: 30px; 
  margin-left: 10px
}

@media only screen and (max-width: 600px) {
body {
    background-color: lightblue;
}
.foto{
    width: 100%;
    height: 50%;
}
.kedua{
  width: 100%;
  height: 50%;
}
.mediumfont{
  font-size: 15px;
  top: 10px;
  color: white;
  margin-left: -300px;
}
.largefont{
  font-size: 20px;
  margin-top: 150px;
  margin-left: -480px;
}
.page2{
  width: 100%;
  height: 100%;
}
.page3{
  width: 100%;
  height: 100%;
}
.tekskedua{
  margin-left: -150px;
  color: white;
}
}