{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <title>Accordion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'styling.css' %}">
  </head>
<body class="page-top">  
      <!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
      </head>
      <body>
      
      {% if not user.is_authenticated %}
      <div style="font-family: Quicksand;" class="justify-content-center flex align-items-center mt-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
          </ol>
        </nav>
          <div class="flex flex-column"style="text-align: center;">
              <h1>
                  Yuk Login Untuk Melihat Konten Website
              </h1>
              <div class="flex flex-row justify-content-around" style="text-align: center;">
                <button type="button" class="btn btn-outline-dark"><a href="login">Login</a></button>
              </div>
      
          </div>
      </div>
      {% endif %}
      
      {% if user.is_authenticated %}
      <body class="container2">
        <div class="jumbotron jumbotron-fluid" style="background-color: aquamarine;">
          <div class="container">
            <h1 class="display">MY INFORMATION</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/story8">Library</a></li>
              </ol>
            </nav>
          </div>
        </div>
        <div style="font-family: Quicksand;" class=" justify-content-center flex align-items-center mt-4" >
            <div class="flex flex-column">
                <h1 style="text-align: center;">
                    Selamat Datang, {{ user }}!
                </h1>
                <div class="flex flex-row justify-content-around"style="text-align: center;">
                <button type="button" class="btn btn-outline-dark"><a href="/story9/logout">Logout</a></button>
                </div>
        
            </div>
        </div>
        <div class="container">
          <div class="accordion" id="accordionExample">
            <div class="card" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne" style="cursor: pointer;">
              <div class="card-header">
                <h1>
                  <a href="" class="btn reorder-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                    Masa Perkuliahan
                  <a href="" class="btn reorder-down"><i class="fa fa-angle-down" aria-hidden="true"></i>
                  </a>
                </h1>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
              data-parent="#accordionExample">
              <div class="card-body" >
                Perkenalkan nama saya <b>Halim</b>,saya sedang berkuliah di FAsilkom Universitas Indonesia dan mengambil jurusan Sistem Informasi angkatan 2019. Aktivitas saya selama perkuliahan tidak mengikuti organisasi,olahraga,memperbanyak teman,mengerjakan tugas,dan belajar. 
                Saat semester 1,saya masih beradaptasi di lingkungan yang baru,dari segi pendidikan,daerah,dan lingkungan pertemanan. Karena saya dari Malang,saya harus bisa beradaptasi dengan cepat di lingkungan yang baru dan memulai aktivitas seperti mahasiswa lainnya. Saat semester 2,
                saya mulai mendapatkan lingkup pertemanan yang sangat supportif dan membantu saya dalam pendidikan,seperti membantu saya belajar,mengerjakan tugas,ngajarin saya tentang materi yang masih belum saya fahamin saay perkuliahan. Kemudian di semester 3,saya mengalami stress karena 
                banyak mata kuliah yang sangat susah dan tugasnya sangat banyak sehingga saya sempat berpikiran untuk menyerah.
              </div>
            </div>
          </div>
          <div class="card" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo" style="cursor: pointer;">
            <div class="card-header" id="headingTwo">
              <h1>
                <a href="" class="btn reorder-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                Interest
                <a href="" class="btn reorder-down"><i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
              </h1>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                Saya memiliki interest di bidang olahraga. Pada saat awal perkuliahan,saya berminat di bidang IT karena seru. Tetapi setelah menjalani 3 semester ini,saya beralih minat ke bidang bisnis karena saya ingin membuka bisnis sendiri,selain itu karena saya kurang mampu di percodingan.
              </div>
            </div>
          </div>
          <div class="card" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
          aria-controls="collapseThree" style="cursor: pointer;">
            <div class="card-header" id="headingThree">
              <h1>
                <a href="" class="btn reorder-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                Cita-Cita
                <a href="" class="btn reorder-down"><i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
              </h1>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Cita-cita saya sejak kecil adalah hidup dan bekerja di luar negeri,seperti tinggal di London dan Australia. Selain itu,saya ingin membuka bisnis sendiri di tempat saya tinggal,bisa saja di Indonesia dan di luar negeri. Tetapi,cita-cita saya sejak kecil adalah mampu membiayai keluarga saya untuk berangkat haji bersama,terutama memberangkatkan orang tua saya haji lagi bersama.
              </div>
            </div>
          </div>
          <div class="card" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
          aria-controls="collapseFour" style="cursor: pointer;">
            <div class="card-header" id="headingFour">
              <h1>
                <a href="" class="btn reorder-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                What's next?
                <a href="" class="btn reorder-down"><i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
              </h1>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample"
            style="padding: 3%; ">
              <div class="card-body">
                Untuk kedepannya,saya akan berusaha untuk lebih giat belajar,lebih rajin,dan lebih berusaha untuk menjadikan pribadi yang mampu membanggakan kedua orang tua saya. Kemudian saya akan mengambil kuliah S2 di luar negri untuk menggapai cita-cita saya,yaitu hidup dan bekerja di luar negeri.
              </div>
            </div>
          </div>
        </div>
    </body>
  {% endif %}

</body>
</html>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'myJavaS.js' %}"></script>
      
    </body> 
</html>